@import url("searchFilterHotelStyle.css");
@import url("searchFooterHotelStyle.css");

#header{
    display: block;
    font-family: 'Roboto',sans-serif;
    text-rendering: optimizeLegibility!important;
    -webkit-font-smoothing: antialiased;
    background-image: url(https://images.almundo.com/205/image/upload/q_auto/v1474474096/static/components/header-bg.jpg);
    background-size: cover;
    position: relative;
    z-index: 99;
    height: 56px;
}

.root{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

#logo{
    float: left;
    padding-top: 15px;
    padding-left: 15px;
}

#logo a img{
    max-width: 150px;
}

.main-nav{
    height: 56px;
    background: rgba(0,44,119,.7);
}

.main-nav-menu{
    padding: inherit;
    list-style-type: none;
    float: left;
}

.main-nav-menu li {
    float: right;
    margin-left: 0.8em;    
    margin-right: 0.8em; 
}

.main-nav-menu li i{
    color: white;
    font-size: 1.5em;   
}

.main-nav-ulOptions{
    list-style-type: none;
    float: right;
    padding-right: 10px;
}

.main-nav-ulOptions li {
    float: left;
    margin-left: 0.8em;    
    margin-right: 0.8em; 
}

.main-nav-ulOptions li i{
    color: white;
    font-size: 1.5em;   
}

.container{
    display: inline-block;
    vertical-align: top;
}

.row{
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 0.4em;
    margin-top: auto;
    max-width: 800px;
}

.col-md-4 img{
    width: 100%;
}

.name-hotel{
    color: #157ab1;
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 10px;
}

.price-box{
    text-align: center;
}

.price--lg{
    color: #DF6800;
    font-size: 1.8rem;
    margin-top: initial;
    margin-bottom: initial;
}

.price--lg .price{
    color: #DF6800;
    font-size: 2.25rem;
    font-weight: bold;
}

.price-description , .legal-taxes{
    font-size: 0.9rem;
}

.des-hotel{
    display: block;
    margin-top: 8px;
    color: #DF6800;
    font-weight: bold;
}

.button{
    display: block;
    background-color: #002C77;
    font-size: 2em;
    color: #fff;
    box-shadow: 0 -2px 0 #00163C inset;
    cursor: pointer;
}


.bene-hotel{
    margin-top: 15px;
    color: #424242;
}


.bene-hotel i{
    font-size: 1.5em;
    margin-left: 4px;
    margin-right: 4px;
}


.without-results{
    color: #f6cd64;
    font-weight: bold;
}

@media screen and (max-width: 1100px) {
    .container{
        display: inline;
    }
}

@media screen and (min-width: 600px) {

    .col-md-a{
        width: 30%;
        display: inline-block;
    }

    .col-md-a img{
        height: 180px;
    }

    .col-md-b{
        width: 25%;
        padding-left: 1em;
        vertical-align: top;
        display: inline-block;
    }
}