.filter-container{
    width: 300px;
    height: 300px;
    display: inline-block;
    vertical-align: top;
}

.filter-container-iconClose{
    padding: 0 16px;
    background-color: #EAEAEA;
    line-height: 40px;
    color: #157ab1;
    display: none;
    cursor: pointer;
}

.filter-container-search{
    background-color: white;
    padding: 0.5em;
}

.filter-container-searchTitle{
    color: #157ab1;
}

.filter-container-inputSearchButton{
    padding: 0.3em;
    background-color: #002C77;
    color: white;
    font-size: 1em;
}


.filter-container-inputHotel{
    border-color: #CCC;
    border-top-color: #777;
    color: #555;
    line-height: 16px;
    line-height: 1rem;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: normal;
    border: 1px solid;
    background: #fff;
    height: 32px;
    padding: 4px 8px;
    vertical-align: top;
    font-family: sans-serif;
    line-height: 24px;
    line-height: 1.5rem;
    font-size: 16px;
    font-size: 1rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 2px;
    box-sizing: border-box;
}

.filter-container-startList{
    padding: 0.3em;
    font-size: 0.8em;
}

.filter-container-iconStartHotel{
    color: #FDBA12;
    padding-left: 0.2em;
    padding-right: 0.2em;
}


.filter-container-over{
    position: fixed;
    z-index: 100;
    background: white;
    top: 0;
    left: 0;
    height: 100%;
    width: 85%;
    overflow: scroll;
    display: block !important;
    overflow: hidden;
}

@media screen and (max-width: 1100px) {

    .filter-container-iconClose{
        display: block;
    }
}


@media screen and (max-width: 1100px) {
    
        .filter-container{
            display: none;
        }

        .filter-container-iconClose{
            display: block;
        }
    }