.footer-button{
    display: none;
}

.footer-button .filter-button{
    width: 100%;
    padding: 0.5em;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 20;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    height: 40px;
    background: #fff;
    box-shadow: 0px -2px 2px #CCC;
    cursor: pointer;
    display: block;
    color: #157ab1;
    text-align: center;
    line-height: 40px;
    line-height: 2.5rem;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
}


@media screen and (max-width: 1100px) {

    .footer-button{
        display: block;
    }

}