<!--The content below is only a placeholder and can be replaced.-->
<div id="header">
  <nav class="main-nav">
    <ul class="main-nav-menu">
      <li>
        <i class="fa fa-bars" aria-hidden="true"></i>
      </li>
    </ul>
    <div id="logo">
      <a href="www.almundo.com">
          <img src="https://images.almundo.com/205/image/upload/v1474984918/static/components/logo-almundo.svg"/>
        </a>
    </div>
    <ul class="main-nav-ulOptions">
      <li>
        <i class="fa fa-user" aria-hidden="true"></i>
      </li>
    </ul>
  </nav>
</div>

<br/>
<br/>

<div class="root">
  <div class="filter-container" id="filter-container">

    <div class="filter-container-iconClose">
      <i class="fa fa-close" aria-hidden="true" (click)="hiddeFilter($event)">Cerrar</i>
    </div>

    <div class="filter-container-search">
      <span>Filtrar por</span>
    </div>

    <br/>

    <div class="filter-container-search">
      <span class="filter-container-searchTitle"><i class="fa fa-search" aria-hidden="true"></i>  Nombre del hotel</span>
      <div>
        <input [(ngModel)]="filter.name"
        class="filter-container-inputHotel" type="text"  style="    width: 200px;"/>
        <button type="button" class="filter-container-inputSearchButton" (click)="search()" >Aceptar</button>
      </div>
    </div>

    <br/>

    <div class="filter-container-search">
      <span class="filter-container-searchTitle">
        <i class="fa fa-usd" aria-hidden="true"></i>Precio por noche</span>
      <h3>{{filter.priceRangeValues[0] + ' - ' + filter.priceRangeValues[1]}}</h3>
      <p-slider [(ngModel)]="filter.priceRangeValues" 
          (onChange)="changeRangeValue($event)"
          [style]="{'width':'200px'}" 
          [range]="true" 
          [min]="500" [max]="10000"></p-slider>

    </div>

    <br/>

    <div class="filter-container-search">
      <span class="filter-container-searchTitle">
        <i class="fa fa-star filter-container-iconStartHotel" aria-hidden="true"></i> Estrellas</span>
      <br/>
      <br/>
      <div class="filter-container-startList">
        <input type="checkbox" name="allStart" 
        [disabled] = "filter.starsList[4]"
        [(ngModel)]="filter.starsList[4]"
        (change)="changeStartSelect(4)" > Todas las estrellas<br>
      </div>
      <div class="filter-container-startList">
        <input type="checkbox" name="vehicle"
        [(ngModel)]="filter.starsList[3]"
        (change)="changeStartSelect(3)" >

        <i class="fa fa-star filter-container-iconStartHotel" aria-hidden="true"></i>
        <i class="fa fa-star filter-container-iconStartHotel" aria-hidden="true"></i>
        <i class="fa fa-star filter-container-iconStartHotel" aria-hidden="true"></i>
        <i class="fa fa-star filter-container-iconStartHotel" aria-hidden="true"></i>
      </div>

      <div class="filter-container-startList">
        <input type="checkbox" name="vehicle" 
        [(ngModel)]="filter.starsList[2]"
        (change)="changeStartSelect(2)" >

        <i class="fa fa-star filter-container-iconStartHotel" aria-hidden="true"></i>
        <i class="fa fa-star filter-container-iconStartHotel" aria-hidden="true"></i>
        <i class="fa fa-star filter-container-iconStartHotel" aria-hidden="true"></i>
      </div>

      <div class="filter-container-startList">
        <input type="checkbox" name="vehicle"
        [(ngModel)]="filter.starsList[1]"
        (change)="changeStartSelect(1)" >

        <i class="fa fa-star filter-container-iconStartHotel" aria-hidden="true"></i>
        <i class="fa fa-star filter-container-iconStartHotel" aria-hidden="true"></i>
      </div>

      <div class="filter-container-startList">
        <input type="checkbox" name="vehicle"
        [(ngModel)]="filter.starsList[0]"
        (change)="changeStartSelect(0)" >
        <i class="fa fa-star filter-container-iconStartHotel" aria-hidden="true"></i>
        
      </div>

    </div>

    <br/>

    <div class="filter-container-search">
      <span class="filter-container-searchTitle">
        <i class="fa fa-search" aria-hidden="true"></i>Servicios</span>
      <div >
        <div class="filter-container-startList">
          <input type="checkbox" name="allService" > Todos los servicios
        </div>
      </div>
    </div>


  </div>

  <div class="container">

    <span class="without-results" *ngIf="thereAreResults()" >Uy, no encontramos resultados. Podés cambiar o borrar los filtros.</span>

    <div *ngFor="let hotel of viewHotels; let i=index" class="row">

      <div class="col-md-4 col-md-a">
        <img src="{{ hotel.img }}" />

      </div>
      <div class="col-md-4 col-md-b">
        <span class="name-hotel">{{hotel.name}}</span>

        <i *ngFor="let start of hotel.stars | arrayConvert" class="fa fa-star filter-container-iconStartHotel" aria-hidden="true"></i>

        <span class="des-hotel"><i class="fa fa-bed" aria-hidden="true"></i> Solo habitacion </span>

        <div class="bene-hotel">
          <i class="fa fa-wifi" aria-hidden="true"></i>
          <i class="fa fa-taxi" aria-hidden="true"></i>
          <i class="fa fa-beer" aria-hidden="true"></i>
          <i class="fa fa-bicycle" aria-hidden="true"></i>
        </div>

      </div>
      <div class="col-md-4 col-md-a">
        <hr>
        <div class="price-box">
          <p class="price-description">Precio por noche por habitación</p>
          <p class="price--lg">
            ARS
            <span class="price">{{hotel.price}}</span>
          </p>
          <span class="legal-taxes">Impuestos y tasas no incluidos</span>

          <a class="button button--lg button--secondary button--block button-detail">Ver hotel</a>
          <p class="payment-methods">
            Pagá en destino</p>
        </div>
      </div>
    </div>
    <br/>
    <br/>
    <div class="footer-button">
        <input type="button" value="Filtrar" class="filter-button" (click)="showFilter($event)" />
      </div>
      
  </div>
  
