/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeng/resources/themes/omega/theme.css';


body{
    margin: inherit;
    background-color: #f4f4f4;
    font-family: sans-serif;    
}